.connection {
    margin-top: 50px;
    &__form {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        max-width: @block-width/2;
    }
    &__label {
        width: 50%;
        &--checkbox {
            width: initial;
        }
    }
    &__input {
        width: 50%;
        &&--checkbox {
            margin: 0;
            width: 100%;
            text-align: center;
        }
    }
    &__submit {
        width: 100%;
        text-align: center;
    }
    &__register {
        margin-top: 20px;
        text-align: center;
    }
}