{% extends 'base.html.twig' %}

{% block title %}Nouvelle Facture{% endblock %}

{% block body %}
    <h1>Nouvelle Facture</h1>

    <div class="edit-form">
        {{ include('facture/_form.html.twig') }}
    </div>

    <a href="{{ path('facture_index') }}" class="button6">Retourner à la liste</a>
{% endblock %}