{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle salle{% endblock %}

{% block body %}
    <section class="section">
        <h1>Créer une nouvelle salle</h1>

        <div class="edit-form">
            {{ include('salle/_form.html.twig') }}
        </div>

        <a href="{{ path('salle_index') }}" class="button6">Retourner à la liste</a>
    </section>
{% endblock %}