{% extends 'base.html.twig' %}

{% block body %}

    <div class="example-wrapper">
        <h1>Vous souhaitez contacter Air-Sal?</h1>
        <h2>Et bien nous aussi.</h2>
        <p>Si vous les trouvez merci de nos faire parvenir leurs informations de contact.</p>


    </div>
{% endblock %}
