{% extends 'base.html.twig' %}

{% block title %}Nouvelle Reservation{% endblock %}

{% block body %}
    <h1>Nouvelle Reservation</h1>

    <div class="edit-form">
        {{ include('reservation/_form.html.twig') }}
    </div>

    <a href="{{ path('reservation_index') }}">Retourner à la liste</a>

{% endblock %}
{% block javascripts %}

{% endblock %}